[submodule "external/--depth=1"]
	path = external/--depth=1
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "external/doxygen-awesome-css"]
	path = external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
